{% extends "layout.html" %}

{% block workspace %}
  <h1>{{question}}</h1>
  <div class="panel panel-default">
    <div class="panel-body" style="word-break:break-all;">
      <div>
        <p>{{question.text}}</p>
      </div>
    </div>
  </div>
  <hr>

  {% for a in answers %}
      <div class="panel panel-default">
        <div class="panel-body" style="word-break:break-all;">
          <p>{{a.text}}</p>
        </div>
      </div>
  {% endfor %}

  {% include "forms/answer_add.html" %}
{% endblock %}